.heading {
  display: flex;
  align-items: center;
}

.navbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  margin: 24px 0px 16px 0px;
}

.title{
  font-weight: bold !important;
  font-size: 20px !important;
}